/*************************
  Varialbes
*************************/

:root {
  /* Font */
  --font-size-base: 1rem;
  --font-family: "Noto Sans TC", system-ui, Helvetica, Arial, sans-serif;

  /* Breakpint */
  --breakpoint-375: 375px;
  --breakpoint-560: 560px;
  --breakpoint-768: 768px;
  --breakpoint-960: 960px;
  --breakpoint-1280: 1280px;
  --breakpoint-1440: 1440px;
  --breakpoint-1600: 1600px;
  --breakpoint-1920: 1920px;


  /**************************************
    Color Token: --color-XXXXX
  **************************************/

  /* Basic */
  --color-white: 100% 0 0;
  --color-black: 46.76% 0 0;
  
  /* Theme */
  --color-primary: 56.31% 0.1152 257.1;
  --color-primary-modified: 83.89% 0.0437 255.94;

  /* General */
  --color-link: var(--color-primary);
  --color-link-visited: 51.05% 0.2007 284.05;
  --color-outline: 82.99% 0.17 82;
  --color-border: 93.35% 0.0027 106.45;
  --color-text: var(--color-black);


  /**************************************
     Apply: --item-attr
  **************************************/

  /* Table */
  --table-bg: var(--color-white);
  --table-th-bg: var(--color-primary-modified);
  --table-th-color: var(--color-black);
  --table-border-color: var(--color-border);

  /* Skip */
  --skip-btn-color: var(--color-white);
  --skin-btn-bg: var(--color-black);

  /* Noscript */
  --noscript-bg: var(--color-white);


}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
